<template>
    <div class="modal-card" >
        <header class="modal-card-head">
            <p class="modal-card-title">Edit</p>
        </header>
        <section class="modal-card-body">
            <b-field label="Name">
                <b-input type="text" v-model="user.name" />
            </b-field>
            <b-field label="Email">
                <b-input type="email" v-model="user.email" />
            </b-field>

            <b-field class="file">
                <b-upload v-model="avatar">
                    <a class="button is-primary">
                        <b-icon pack="fa" icon="upload" />
                        <span>Edit image</span>
                    </a>
                </b-upload>
                <span class="file-name" v-if="avatar">
                    {{ user.name }}
                </span>
            </b-field>
        </section>

        <footer class="modal-card-foot">
            <b-button  v-if="user.id" type="is-primary"  @click="save">Save</b-button >
            <b-button v-else @click="add">Add</b-button>
        </footer>
    </div>
</template>

<script>
    import { mapActions } from 'vuex';

    export default {
        name: 'EditUserForm',

        props: {
            user: {
                type: Object,
            }
        },

        data: () => ({
            name: '',
            email: '',
            avatar: null,
        }),
        methods: {
            ...mapActions('user', [
                'editUser',
                'uploadUserImage',
                'addUser',
            ]),
            async save() {
                try {
                     await this.editUser({ id: this.user.id, name: this.user.name, email: this.user.email,imageFile: this.avatar });
                    this.$parent.close();
                } catch (error) {
                    this.showErrorMessage(error.message);
                }
            },
            async add() {
                try {
                    await this.addUser({name: this.user.name, email: this.user.email,imageFile: this.avatar });
                    this.$parent.close();
                } catch (error) {
                    this.showErrorMessage(error.message);
                }
            },

            showErrorMessage(msg) {
                this.errorMessage = msg;
            }
        }
    };
</script>

<style scoped>
    .error {
        padding: 10px 0;
    }
</style>
