<template>
    <div class="modal-card" >
        <header class="modal-card-head">
            <p class="modal-card-title">Edit</p>
        </header>
        <section class="modal-card-body">
            <b-field label="Title">
                <b-input type="text" v-model="album.title" />
            </b-field>

            <b-field class="file">
                <b-upload v-model="url">
                    <a class="button is-primary">
                        <b-icon pack="fa" icon="upload" />
                        <span>Edit image</span>
                    </a>
                </b-upload>
                <span class="file-name" v-if="url">
                    {{ album.title }}
                </span>
            </b-field>
        </section>

        <footer class="modal-card-foot">
            <b-button  v-if="album.id" type="is-primary"  @click="save">Save</b-button >
            <b-button v-else @click="add">Add</b-button>
        </footer>
    </div>
</template>

<script>
    import { mapActions } from 'vuex';

    export default {
        name: 'EditAlbumForm',

        props: {
            album: {
                type: Object,
            }
        },
        data: () => ({
            title: '',
            url: null,
        }),
        methods: {
            ...mapActions('album', [
                'editAlbum',
                'addAlbum',
            ]),
            async save() {
                try {
                    await this.editAlbum({ id: this.album.id, title: this.album.title, url: this.url });
                    this.$parent.close();
                } catch (error) {
                    this.showErrorMessage(error.message);
                }
            },
            async add() {
                try {
                    await this.addAlbum({title: this.album.title, url: this.url });
                    this.$parent.close();
                } catch (error) {
                    this.showErrorMessage(error.message);
                }
            },
            showErrorMessage(msg) {
                this.errorMessage = msg;
            }
        }
    };
</script>

<style scoped>
    .error {
        padding: 10px 0;
    }
</style>
