<template>
    <div v-if="album">
        <article class="media box tweet">
            <figure class="media-left">
                <img
                        v-if="album.url"
                        :src="album.url"
                        alt="Album avatar"
                >
            </figure>
            <div class="media-content">
                <div class="columns">
                    <div class="column">
                        <div class="content">
                            <p class="tweet-text">
                                <strong>{{ album.title }}</strong>
                            </p>

                        </div>
                    </div>

                </div>

                <b-button type="btn btn-dark" @click="onEditAlbum"  style="margin-right:20px;">Edit</b-button>
                <b-button type="btn btn-danger" @click="onDeleteAlbum">Delete</b-button>

                <ul id="example-1">
                    <li v-for="photo in photos">
                        <span>{{ photo.title }}</span>
                        <img width="100px" height="100px" :src="photo.url">
                    </li>
                </ul>
            </div>
        </article>

        <b-modal :active.sync="isEditAlbumModalActive" has-modal-card>
            <EditAlbumForm :album="album"/>
        </b-modal>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';
    import EditAlbumForm from '../components/view/album/EditAlbumForm.vue';

    export default {
        name: 'AlbumContainer',
        components: {
            EditAlbumForm,
        },
        data: () => ({
            isEditAlbumModalActive: false,
            photos: {}
        }),
        async created() {

            try {
                await this.fetchAlbumsById(this.$route.params.id);
                this.photos = await this.fetchPhotosByAlbumId(this.album.id);
            } catch (error) {
                console.error(error.message);
            }
        },
        computed: {
            ...mapGetters('album', [
                'getAlbumById',
            ]),
            album() {
                return this.getAlbumById(this.$route.params.id);
            },
        },
        methods: {
            ...mapActions('album', [
                'fetchAlbumsById',
                'deleteAlbum'
            ]),
            ...mapActions('photo', [
                'fetchPhotosByAlbumId',
            ]),
            onEditAlbum() {
                this.isEditAlbumModalActive = true;
            },
            async onDeleteAlbum() {
                try {
                    await this.deleteAlbum(this.album.id);

                    this.$router.push({name: 'albums'});
                } catch (error) {
                    console.error(error.message);
                }

            },
        },
    };
</script>

<style lang="scss" scoped>
 #example-1{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     
 }
    #example-1 li{
        display:grid;
        padding: 5px;
        border: 1px solid black;
        margin: 5px;
        border-radius: 5px;
    }
    #example-1 li span{
        min-height: 65px;
    }
    #example-1 li img{
        margin: 0 auto;
    }
</style>
