<template>
    <div class="feed-container">

        <AlbumPreviewList :albums="albums"/>

    </div>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex';
    import AlbumPreviewList from '../components/common/AlbumPreviewList.vue';
    export default {
        name: 'Album',
        async created() {
            try {
               await this.fetchAlbums();


            } catch (error) {

            }
        },
        components: {
            AlbumPreviewList,
        },
        computed: {

            ...mapGetters('album', {

                albums: 'albumSortedByCreatedDate'
            }),
        },

        methods: {
            ...mapActions('album', [
                'fetchAlbums',
            ]),
        },
    };
</script>

<style scoped lang="scss">

</style>
