<template>
    <div v-if="user">
        <article class="media box tweet">
            <figure class="media-left">
                <img
                        v-if="user.avatar"
                        :src="user.avatar"
                        alt="Author avatar"
                >
            </figure>
            <div class="media-content">
                <div class="columns">
                    <div class="column">
                        <div class="content">
                            <p class="tweet-text">
                                <strong>{{ user.name }}</strong><br>
                                {{ user.email }}
                            </p>

                        </div>
                    </div>

                </div>

                <b-button type="btn btn-dark" @click="onEditUser" style="margin-right:20px;">Edit</b-button>
                <b-button type="btn btn-danger" @click="onDeleteUser">Delete</b-button>

            </div>
        </article>

        <b-modal :active.sync="isEditUserModalActive" has-modal-card>
            <EditUserForm :user="user"/>
        </b-modal>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';
    import EditUserForm from '../components/view/user/EditUserForm.vue';

    export default {
        name: 'UserContainer',
        components: {
            EditUserForm,
        },
        data: () => ({
            isEditUserModalActive: false,
        }),
        async created() {
            try {
                await this.fetchUserByUserId(this.$route.params.id);
            } catch (error) {
                console.error(error.message);
            }
        },
        computed: {
            ...mapGetters('user', [
                'getUserById',
            ]),
            user() {
                return this.getUserById(this.$route.params.id);
            },
        },
        methods: {
            ...mapActions('user', [
                'fetchUserByUserId',
                'deleteUser'
            ]),
            onEditUser() {
                this.isEditUserModalActive = true;
            },
            async onDeleteUser() {
                try {
                    await this.deleteUser(this.user.id);

                    this.$router.push({name: 'users'});
                } catch (error) {
                    console.error(error.message);
                }

            },
        },
    };
</script>

<style lang="scss" scoped>
    .btn:hover{
        color: #fff;
    }
    .button{

    }
</style>
