<template>
    <div class="feed-container">

        <UserPreviewList :users="users"/>

    </div>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex';
    import UserPreviewList from '../components/common/UserPreviewList.vue';
    export default {
        name: 'User',
        async created() {
            try {
               await this.fetchUsers();
            } catch (error) {

            }
        },
        components: {
            UserPreviewList,
        },
        computed: {
            ...mapGetters('user', {
                users: 'usersSortedByCreatedDate'
            }),
        },

        methods: {
            ...mapActions('user', [
                'fetchUsers',
            ]),
        },
    };
</script>

<style scoped lang="scss">

</style>
