<template>
    <tbody>
    <tr @click="$emit('click', album)">
        <td>
            <a>
                {{ album.id }}
            </a>
        </td>
        <td>
            <a>
                {{ album.title }}
            </a>
        </td>
        <td>
            <img v-if="album.url" :src="album.url" class="show-img"/>

        </td>
        <td>
            <a class="btn btn-light btn-xs">
                <router-link :to="{name: 'album-page', params: {id: album.id}}">Show
                </router-link>
            </a>
        </td>
    </tr>
    </tbody>
</template>
<script>
    export default {
        name: 'AlbumPreview',
        props: {
            album: {
                type: Object,
            },
        },
    };
</script>

<style lang="scss" scoped>


</style>
