<template>
    <div class="users-container">

        <b-button type="button" class="btn btn-success" @click="addAlbumForm">Add</b-button>

        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Title</th>
                <th></th>
                <th scope="col">Url</th>
            </tr>
            </thead>

            <template v-for="album in albums">

                <AlbumPreview
                        :key="album.id"
                        :album="album"
                        @click="onAlbumClick"

                />
            </template>
        </table>
        <b-modal :active.sync="isEditAlbumModalActive" has-modal-card>
            <EditAlbumForm :album="album"/>
        </b-modal>
    </div>


</template>

<script>
    import AlbumPreview from './AlbumPreview.vue';
    import EditAlbumForm from '../view/album/EditAlbumForm.vue';
    export default {
        name: 'AlbumPreviewList',

        props: {
            albums: {
                type: Object,
            },
        },

        data: () => ({
            isEditAlbumModalActive: false,
            album: {}

        }),
        components: {
            AlbumPreview,
            EditAlbumForm,
        },
        methods: {
            onAlbumClick(album) {
                this.$router.push({ name: 'album-page', params: { id: album.id } });
            },
            addAlbumForm() {
                this.isEditAlbumModalActive = true;
            }
        },
    };
</script>

<style scoped lang="scss">
    .btn-success{
        /*background-color: unset !important;*/
        /*border-color: unset !important;*/
        /*color: unset !important;*/
        width: 100%;
    }
    .button{
        background-color: #28a745;
        color: #fff;
        margin-top: 30px;
        margin-bottom: 30px;
        outline: none;
    }
    .tweets-container {
        padding-bottom: 20px;
    }
</style>
