<template>
    <tbody>
    <tr @click="$emit('click', user)">
        <td>
            <a>
                {{ user.id }}
            </a>
        </td>
        <td>
            <a>
                {{ user.name }}
            </a>
        </td>
        <td>
            {{ user.email }}
        </td>
        <td>
            <img v-if="user.avatar" :src="user.avatar" class="show-img"/>

        </td>
        <td>
            <a class="btn btn-dark">
                <router-link :to="{name: 'user-page', params: {id: user.id}}">Show
                </router-link>
            </a>
        </td>
    </tr>
    </tbody>
</template>
<script>
    export default {
        name: 'UserPreview',
        props: {
            user: {
                type: Object,
            },
        },
    };
</script>

<style lang="scss" scoped>


    .btn{
        color: #fff !important;
    }
    a {
        color: #fff; /* Цвет посещенной ссылки */
    }
</style>
