<template>
    <div class="users-container">

        <b-button type="button" class="btn btn-success" @click="addUserForm">Add</b-button>

        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Avatar</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
        <template v-for="user in users">
            <UserPreview
                    :key="user.id"
                    :user="user"
                    @click="onUserClick"

            />
        </template>
        </table>
        <b-modal :active.sync="isEditUserModalActive" has-modal-card>
            <EditUserForm :user="user"/>
        </b-modal>
    </div>


</template>

<script>
import UserPreview from './UserPreview.vue';
import EditUserForm from '../view/user/EditUserForm.vue';
export default {
    name: 'UserPreviewList',

    props: {
        users: {
            type: Object,
        },
    },

    data: () => ({
        isEditUserModalActive: false,
        user: {}

    }),
    components: {
        UserPreview,
        EditUserForm,
    },
    methods: {
        onUserClick(user) {
            this.$router.push({ name: 'user-page', params: { id: user.id } });
        },
        addUserForm() {
            this.isEditUserModalActive = true;
        }
    },
};
</script>

<style scoped lang="scss">
    .btn-success{
        /*background-color: unset !important;*/
        /*border-color: unset !important;*/
        /*color: unset !important;*/
        width: 100%;
    }
    .button{
        background-color: #28a745;
        color: #fff;
        margin-top: 30px;
        margin-bottom: 30px;
        outline: none;
    }
    .tweets-container {
        padding-bottom: 20px;
    }
</style>
