<template>
  <div id="app">

    <div>
      <nav class="navbar navbar-dark bg-dark ">
        <div class="navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <router-link class="nav-link" to="/users">Users</router-link>
            </li>
            <li class="nav-item">
              <router-link  class="nav-link" to="/albums">Album</router-link>
            </li>
          </ul>
        </div>

      </nav>
      <router-view></router-view>
    </div>
  </div>
</template>

<script>


  export default {
    name: 'App',
  };
</script>


<style lang="scss">
  @import '~buefy/dist/buefy.min.css';
  .navbar-nav{
    display: unset !important;
  }
  .navbar-nav li{
    display: inline-block;
    margin-right: 20px;
  }
</style>
